$color-white: #FFFFFF;
$color-black: #000000;

$color-primary: #409EFF;
$color-success: #67C23A;
$color-warning: #E6A23C;
$color-danger: #F56C6C;

$text-color-base: #606266;
$text-color-dark: #909399;
$text-color-placeholder: #C0C4CC;
$text-color-primary: #303133;

$bg-color: #F7F8F9;

$border-color-1: #DCDFE6;
$border-color-2: #E4E7ED;
$border-color-3: #EBEEF5;
$border-color-4: #F2F6FC;
$border-color-base: $border-color-1;

$border-radius-small: 2px;
$border-radius-base: 4px;
$border-radius-large: 8px;

$spacing-super-small: 4px;
$spaicng-extra-small: 8px;
$spacing-small: 16px;
$spacing-base: 24px;
$spacing-large: 32px;
$spacing-extra-large: 58px;
$spacing-super-large: 72px;

$font-size-small: 12px;
$font-size-base: 14px;
$font-size-large: 16px;
$font-size-extra-large: 18px;
$font-size-super-large: 20px;

$font-family: PingFang SC, Arial;
